{% extends 'base.html' %}
{% block content %}
<h2 style="text-align:center;">Admin Dashboard</h2>
<br>
<div style="text-align:center;">
    <a href="{{url_for('admin_logic.all_doctors')}}">View Doctors</a><br><br>
    <a href="{{url_for('admin_logic.all_patients')}}">View Patients</a><br><br>
    <a href="{{url_for('admin_logic.all_appointments')}}">View Appointments</a><br><br>
    <a href="{{url_for('admin_logic.add_doctor')}}">Add Doctor</a><br><br>
    <a href="{{url_for('admin_logic.search_patient')}}">Search Patient</a><br><br>
    <a href="{{url_for('admin_logic.search_doctor')}}">Search Doctor</a><br><br>
</div>
{% endblock %}
