{% extends 'base.html' %}

{% block content %}

    <h2>Edit Availability</h2>
    <br>
    <form action="{{url_for('doctor_logic.edit_availability',availability_id=avai_id)}}" method="POST">
        <table style="margin: auto;">
            <tr>
                <td class="bordered">Day</td>
                <td class="bordered">:
                    <select name="day" required>
                        <option value="">-- Select Day --</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="bordered">Start Time(in 24 Hour Format)</td>
                <td class="bordered">:<input type="TEXT" name="start_time" pattern="[0-2][0-9]:[0-5][0-9]" placeholder="HH:MM"></td>
            </tr>
            <tr>
                <td class="bordered">End Time(in 24 Hour Format)</td>
                <td class="bordered">:<input type="TEXT" name="end_time" pattern="[0-2][0-9]:[0-5][0-9]" placeholder="HH:MM"></td>
            </tr>
        </table>
    <button style="display:block; margin:20px auto;" type="submit" class="form_btn">Edit availability</button>
    </form>

{% endblock %}