{% extends 'base.html' %}

{% block content %}

<h2>Change Password</h2>
</tr>
<tr>

{% if error %}
    <p style="text-align:center; color:red; font-size:10px">{{error}}</p>
    <br>
{% endif %}  

<form method="POST" action="/doctor/change_password" style="text-align:center">
    <div style="display:flex; justify-content:center;">
        <table style="text-align:center">
            <tr>
                <td><label>Old Password:</label></td>
                <td><input name="opw" type="password" class="form_field" style="margin-bottom: 10px;"></td>
            </tr>
            <tr>
                <td><label>New Password:</label></td>
                <td><input name="npw" type="password" class="form_field" style="margin-bottom: 10px;"></td>
            </tr>
            <tr>
                <td><label>Confirm New Password:</label></td>
                <td><input name="cnpw" type="password" class="form_field" style="margin-bottom: 10px;"></td>
        </table>
    </div>
    <button type="submit" class="form_btn">Change Password</button>
</form>
{% endblock %}

