{% extends 'base.html' %}

{% block content %}

    <h2 style="display: inline-block;">Book your appointments here</h2>
    <p style="margin-left:50%; display:inline-block">👤</p>
        <a href="{{url_for('patient_logic.my_profile')}}" style="color:white; text-align: right;">My profile</a>
        <br>
        <div style="display:inline-block; width: 60%; text-align: left;">
        <p style="color:white">Select one of the following Departments to see the available doctors:</p>
        <table class="bordered"  ">
            <tr>
                <th class="bordered" style="width: 70%;">Departments</th>
                <th class="bordered">Number of Doctors Available</th>
            </tr>
            {% for d in departments %}
            <tr>
                <td class="bordered"><a href="{{url_for('patient_logic.department_doctors')}}?dept_id={{ d[1] }}">{{d[0]}}</a></td>
                <td class="bordered">{{d[2]}}</td>
            </tr>
            {% endfor %}
        </table>
        <div></div>
    </div>

        <div style="display:inline-block; width: 30%; text-align: right;">
            <br>
            <form method="POST" action="{{url_for('patient_logic.search_doc_by_name')}}">
                <input type="text" name="doc_name" placeholder="Enter doctor name to search" style="width:70%;">
                <br>
                <button type="submit" class="form_btn" style="margin: auto ;">Search</button>
            </form>
        </div>
{% endblock %}